{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-7">
        <div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
            <div class="card-body">
                <h1>{% trans "About Charika" %}</h1>

                <p>{% trans "Charika is an open-source ecommerce platform built with Django. It provides essential features for starting an ecommerce business, including user authentication, social account integration, internationalization, payments via Stripe, and messaging between users." %}</p>

                <h2 class="mt-5">{% trans "Our Mission" %}</h2>
                <p>{% trans "At Charika, our mission is to provide users with a comprehensive and easy-to-use platform for e-commerce business. We believe that everyone should have access to the same information and tools that the professionals use, and we are committed to making this a reality." %}</p>

                <h2 class="mt-5">{% trans "Our Features" %}</h2>
                <ul>
                    <li>{% trans "User Authentication: Secure authentication system for user registration and login." %}</li>
                    <li>{% trans "Social Account Integration: Integration with Google and Microsoft for easy login/signup." %}</li>
                    <li>{% trans "Multi-language Support: Translation for Arabic, English, Turkish, French, and Spanish." %}</li>
                    <li>{% trans "Payment Processing: Secure payments via Stripe." %}</li>
                    <li>{% trans "Messaging System: In-app messaging for communication between users." %}</li>
                </ul>

                <h2 class="mt-5">{% trans "Our Team" %}</h2>
                <p>{% trans "Charika was founded by visionary entrepreneurs with a passion for ecommerce and technology. Our team is dedicated to creating innovative solutions that empower businesses to succeed online." %}</p>

                <h2 class="mt-5">{% trans "Customer Support" %}</h2>
                <p>{% trans "At Charika, we believe in providing exceptional customer support. Our team is available to assist you with any questions or concerns you may have. Please don't hesitate to reach out to us at" %} <a href="mailto:contact@charika.com">contact@charika.com</a>.</p>

                <h2 class="mt-5">{% trans "Contact Us" %}</h2>
                <p>{% trans "If you have any questions about Charika or would like to learn more about our platform, please contact us at" %} <a href="mailto:contact@charika.com">contact@charika.com</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
